:root {
  --color-bg: #121212; 
  --color-primary: #1f1f1f; 
  --color-accent: #707c8af5; 
  --color-text: #e0e0e0; 
  --color-border: #333; 
  --color-shadow: rgba(0, 0, 0, 0.6); 
  --fuente-uno: Verdana, Geneva, Tahoma, sans-serif;
  
}

html {
  margin: 0;
}

* {
  font-family: var(--fuente-uno);
  font-size: 26px;
  font-weight: 400;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
}

body {
  box-sizing: border-box;
}

.hdrlog {
  height: 3em;
  background: var(--color-primary);
  top: 0;
  display: flex;
  justify-content: space-between;
}

.contenedorUno, .contenedorDos {
  box-sizing: border-box;
  justify-content: center
}

main {
  display: flex;
  justify-content: center;
  max-height: 100vh;
  margin: 1em;
  gap: 5.6em;
}

.logoAlura {
  margin-left: 1px;
  float: left;
  margin-right: -10.4em;
  padding: 4px;
  width: 6em;
  gap: 120px;
}

.btn-github{

 
  position: absolute;
  top: 10px;
  right: 10px;
  justify-content: flex-end;
  -ms-flex-align: baseline;
  cursor: pointer;
  margin-top: 12px;
  outline: 0;
  margin-right: 12px;
  border: 4px solid #cfcdcd33;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background-image: url('/assets/github.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.btn-github:hover{
  border: 3px solid rgb(250, 250, 250);
}
.btn-github:active{
  box-shadow: 2px #ddbfbf3c;
  border: 3px solid rgb(200, 200, 200);
  background-size: 90%;
  transform: scale(0.95);
}



.text-entrada, .text-salida {
  border: none;
  border-radius: 37px;
  padding: 4%;
  background: var(--color-primary);
  color: var(--color-text);
  box-shadow: 0 5px 6px -2px var(--color-shadow);
  resize: none;
  
}

.text-entrada {
  width: 500px;
  height: 340px;
}

.text-entrada::placeholder, .text-salida::placeholder {
  color: var(--color-text);
}

.text-salida {
  background: var(--color-primary);
  background-image: url('/assets/kawamoto.jpeg');
  background-size: 60%;
  background-color: var(--color-primary);
  background-position: center;
  background-repeat: repeat;
  border-radius: 32px;
  font-family: var(--fuente-uno);
  color: #121212;
  width: 410px;
  height: 400px;

}

.informacion {
  color: var(--color-text);
  font-size: 16px;
  margin: 19px;
  position: relative;
}

.botones {
  display: flex;
  justify-content: center;
  font-size: 16px;
  padding: 9px 10px;
  font-weight: 100;
}

.btn-encriptar, .btn-desencriptar, .btn-copiar {
  display: inline-block;
  outline: 0;
  border: 3px solid var(--color-border);
  cursor: pointer;
  border-radius: 16px;
  height: 50px;
  width: 200px;
  font-size: 20px;
  font-weight: 500;
  font-family: var(--fuente-uno);
}

.btn-encriptar {
  background: var(--color-accent);
  box-shadow: 0px 2px 4px var(--color-shadow), 0px 7px 10px -3px rgba(255, 255, 255, 0.3), inset 0px -3px 0px #4e363628;
}

.btn-encriptar:hover {
  background-color: var(--color-accent);
  color: var(--color-bg);
  box-shadow: 0px 0px 0px 3px var(--color-accent);
  transform: translateY(1px);
}

.btn-encriptar:active {
  transform: translateY(3px);
  box-shadow: 0 2px var(--color-shadow);
  color: var(--color-text);
}

.btn-desencriptar {
  background: var(--color-primary);
  box-shadow: 0px 2px 4px var(--color-shadow), 0px 7px 10px -3px rgba(255, 255, 255, 0.3), inset 0px -3px 0px #cbc7dcc0;
  color: var(--color-text);
  margin-left: 30px;
}

.btn-desencriptar:hover {
  background-color: var(--color-accent);
  color: var(--color-bg);
  box-shadow: 0px 0px 0px 2px rgba(255, 216, 224, 0.307);
  transform: translateY(1px);
}

.btn-desencriptar:active {
  transform: translateY(3px);
  box-shadow: 0 2px var(--color-shadow);
  color: var(--color-text);
}

.btn-copiar {
  border: 4px solid var(--color-border);
  background: var(--color-primary);
  box-shadow: 0px 2px 4px var(--color-shadow), 0px 7px 10px -3px rgba(255, 255, 255, 0.3), inset 0px -3px 0px #d6d6e7;
  color: var(--color-text);
}

.btn-copiar:hover {
  color: var(--color-text);
  box-shadow: var(--color-shadow);
}

.btn-copiar:active {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 2px var(--color-shadow);
  transform: translateY(3px);
}

.btn-limpiar {
  background: url(/assets/image.png);
  background-size: 56%;
  background-position: center;
  outline: none;
  box-shadow: 0px 2px 4px var(--color-shadow), 0px 7px 10px -3px #3c839f, inset 0px -3px 0px #d6d6e7;
  cursor: initial;
  padding: 7px;
  width: 44px;
  height: 44px;
  border-radius: 47%;
  border: 1px solid var(--color-border);
}

.btn-limpiar:hover {
  background: url(/assets/refresh.png);
}

.btn-limpiar:active {
  background: url(/assets/refresh.png);
  background-size: 49%;
  background-position: center;
  transform: translateY(3px);
  box-shadow: 2px 2px var(--color-shadow);
}

.copy-clean {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  gap: 1em;
}


.firma {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #3c839f;
  text-align: center;
  font-family: var(--fuente-uno);
  font-size: 18px;
  background-color: rgb(33, 37, 79);
  z-index: 1000;
  padding: 1px;
}

@media only screen and (min-width: 2000px) and (max-height: 1080px) {
  *{
    margin: 1em;
    font-size: 24px;
  }
  .hdrlog {
    height: 2em;
  }

  .contenedorUno, .contenedorDos {
    justify-content: center;
  }
  .botones{
    position: relative;
    display: inline-block;
    top: -7em;
    gap: 1em;
    margin-left: 27.1%;
  }
  .copy-clean{
    position: absolute;
    margin-top: -0.2em;
    justify-content: center;
    align-items: center;
    margin-left: 10em;
  }
  .copAviso {
    position: absolute;
    font-size: 14px;
    margin-left: 14.7em;
    margin-top: 22.8em;
    border-radius: 8px;
  }
  .cop-info{
    position: absolute;
    top: 24em;
    margin-left: 6.5em;
    width: 400px;
  }
  main{
    gap: 0.5em;
    margin-top: 1em;
    height: 100vh;
  }
  .logoAlura{
    width: 6em;
    margin: 0;
  }
  .firma {
    font-size: 14px;
  }
  .btn-github{
    width: 4em;
    height: 4em;
  }
  .text-salida{
    margin-top: 3.2em;
    width: 25em;
    height: 24em;
    margin-right: 4em;

  }
  .text-entrada{
    width: 28em;
    height: 20em;
    margin-top: 4em;
    margin-right: 1%;
    margin-left: 4em;
    resize: none;
  }
  .informacion{
    font-size: 2em;
    margin-left: 20%;
    top: -1em;
    text-align: start;
    position: relative;
    display: inline-block;
  }
  .iconoir--chat-bubble-warning{
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    vertical-align: middle;
  }
  .msnBox {
    left: 10%;
    top: -2em;
    width: 300px;
    height: 44px;
    box-sizing: border-box;
  }
  .fa-solid--hand-point-down::after {
    display: inline-block;
    top: -0.3em;
    margin-left: 8.5em;
    width: 0.7em;
    height: 0.6em;
  }
  .msnAtencion {
    display: inline-block;
    text-align: center;
    margin-right: 1em;
    margin-left: 2em;
  }
}
@media only screen and (max-width: 1000px) {
  
  *{
    font-size: 16px;
    line-height: 1.2;
  }

  .hdrlog {
    height: 1em;
  }
  .logoAlura{
    width: 2em;
    margin: 0;
  }

  main{
    gap: 1em;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1em;
    height: 100vh;
  }
  .contenedorUno, .contenedorDos {
    justify-content: center;
  }
  .text-entrada, .text-salida{
    width: 90%;
    margin-top: 2em;
    margin-right: 1%;
    margin-left: 1%;
    resize: none;
  }
  .text-salida{
    background-size: 45%;
  }
  .msnBox {
    left: 14%;
    top: -3.7em;
    width: 47%;
    box-sizing: border-box;
  }
  .msnAtencion {
    display: inline-block;
    text-align: center;
    font-size: 1em;
    margin-right: 1em;
    margin-left: 3em;
    white-space: normal;
  }
  .fa-solid--hand-point-down::after {
    display: inline-block;
    top: -0.3em;
    margin-left: 17em;
    width: 0.8em;
    height: 0.9em;
  }
  .cop-info{
    position: absolute;
    top: 61em;
    margin-left: 8em;
    width: 60%;
  }
  .copy-clean{
    margin-bottom: 3em;
  }
  .copAviso {
    position: absolute;
    font-size: 14px;
    margin-left: 14.7em;
    margin-top: 39.4em;
    border-radius: 8px;
  }
}


@media only screen and (max-width: 590px){
  .msnBox {
    box-sizing: border-box;
    position: absolute;
    justify-content: center;
    border: 1px dotted whitesmoke;
    margin-top: -1em;
    height: 3.5em;
    width: 9em;
    margin-left: 7%;
    margin-right: 0.5%;
  }
  .msnAtencion {
    text-align: center;
    font-size: 14px;
    margin-right: 3.4em;
    display: -webkit-box;
    white-space: normal;
  }
  .fa-solid--hand-point-down::after {
    display: inline-block;
    margin-left: 7rem;
    top: -0.6em;
    width: 0.6em;
    height: 0.5em;
  }
  .copAviso {
    position: absolute;
    font-size: 14px;
    margin-left: 23%;
    margin-top: 37.1em;
    border-radius: 8px;
  }
  .text-entrada{
    width: 80%;
    padding: 1em;
    margin-right: 1.2em;
    margin-left: 1.2em;
  }
  .text-salida{
    font-size: 14px;
    background-size: 65%;
    margin-right: 1em;
    padding: 1em;
  }
  .logoAlura{
    width: 2em;
    margin: 0;
  }
 
  .cop-info{
    position: absolute;
    margin-top: -7em;
    margin-left: 16.5%;
    width: 60%;
  }
  .informacion{
    margin-left: 2em;
  }
}



